fastapi
uvicorn
python-dotenv
python-multipart

pypdf
rank-bm25
faiss-cpu

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface

sentence-transformers

numpy
scikit-learn

httpx
requests
